.section {
    height: 50px;
    padding-left: 10%;
}

.sectionImage {
    height: 60px;
}

.blueColor {
    background-color: #0084ff;
}

.blueColor label {
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 50px;
}

img {
    height: 90%;
}